[submodule "Packages/Unity-Utils"]
	path = Packages/Unity-Utils
	url = https://github.com/kirillsmirnov1/unity-utils.git
[submodule "Packages/2D-Utils"]
	path = Packages/2D-Utils
	url = https://github.com/kirillsmirnov1/unity-2d-utils.git
