[submodule "Packages/Unity-Utils"]
	path = Packages/Unity-Utils
	url = https://github.com/kirillsmirnov1/unity-utils.git
[submodule "Packages/2D-Utils"]
	path = Packages/2D-Utils
	url = https://github.com/kirillsmirnov1/unity-2d-utils.git
[submodule "Packages/CircularScrollingRoulette"]
	path = Packages/CircularScrollingRoulette
	url = https://github.com/kirillsmirnov1/circular-scrolling-roulette.git
[submodule "Packages/Extenject-Utils"]
	path = Packages/Extenject-Utils
	url = https://github.com/kirillsmirnov1/Extenject-Utils.git
[submodule "UnityGameSystems"]
	path = UnityGameSystems
	url = https://github.com/kirillsmirnov1/Unity-Game-Systems.git
[submodule "Packages/UnityGameSystems"]
	path = Packages/UnityGameSystems
	url = https://github.com/kirillsmirnov1/Unity-Game-Systems.git
[submodule "Packages/Joysticks"]
	path = Packages/Joysticks
	url = https://github.com/kirillsmirnov1/Joysticks.git
[submodule "Packages/AdHawk"]
	path = Packages/AdHawk
	url = https://github.com/kirillsmirnov1/Ad-Hawk
